.navbar ul{
  list-style: none;
  background: RGBA(0,0,0,0.68);
  margin: 0;
  padding: 0;
  text-align: right;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   width: 100%;
   z-index: 1;

   


}



.navbar .links{
  
  position: sticky;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 25px 20px;
  text-transform: uppercase;
  font-weight: bold;
 
}

.links:hover{
  cursor: pointer;
  background-color: #494f55;
}

.contact-section{
  background-color: #f6f5f5;
}